<div class="characters">

  <link rel="stylesheet" href="/css/checklist.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/checklist.js"></script>
  <div class="actions">
    <button data-action='all' class="action show-all active">Show All</button>
    <button data-action='owned' class="action show-owned">Show Owned</button>
    <button data-action='unowned' class="action show-unowned">Show Unowned</button>
  </div>
  {{ $chars := .Site.Data.characters }}
  <div id="checklist">
  {{ range $char := $chars }}

    <div class="char-full">
      <span>
        {{ $char.name }}
      </span>
      <div class="char-collection">
        
        {{ range $reg := $char.regular }}
        <!-- {{ warnf "The %s." $reg.img}} -->
        {{ partial "char.html" $reg }}
        {{ end }}
        {{ range $reg := $char.straps }}
        <!-- {{ warnf "The %s." $reg.img}} -->
        {{ partial "char.html" $reg }}
        {{ end }}
        {{ range $reg := $char.dekas }}
        <!-- {{ warnf "The %s." $reg.img}} -->
        {{ partial "char.html" $reg }}
        {{ end }}
        {{ range $reg := $char.mannakas }}
        <!-- {{ warnf "The %s." $reg.img}} -->
        {{ partial "char.html" $reg }}
        {{ end }}
        {{ range $reg := $char.puppets }}
        <!-- {{ warnf "The %s." $reg.img}} -->
        {{ partial "char.html" $reg }}
        {{ end }}
      </div>
      
    </div>  
    {{ end }}
  </div>
</div>

<!-- <pre>{{ jsonify (dict "indent" "  ") .Site.Data.characters }}</pre> -->
